<div style="text-align: center">
  <img
    src="../assets/logo.png"
    alt="logo image"
    width="150"
    height="100"
    class="logo"
  />
  <h1>The Farmer’s Market</h1>
</div>
<div class="container">
  <span style="font-size: larger"><b>Items in Basket</b></span>
  <br />
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Coupon applied</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" style="text-align: center">
        <td>{{ product.product }}</td>
        <td>{{ product.coupon }}</td>
        <td>{{ product.price }}</td>
      </tr>
      <tr class="blank_row">
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
  <table>
    <tr style="text-align: center">
      <td colspan="2"><b>Total:</b></td>
      <td>${{ total }}</td>
    </tr>
  </table>
  <input
    type="text"
    class="input-text"
    placeholder="Type item code"
    [(ngModel)]="item"
  />
  <button class="add-btn" (click)="addProduct()">Add item</button>
</div>
