<div style="text-align: center">
  <img
    src="../assets/logo.png"
    alt="logo image"
    width="150"
    height="100"
    class="logo"
  />
  <h1>The Farmer’s Market</h1>
</div>
<div class="container">
  <span style="font-size: larger"><b>Items in Basket:</b></span>
  <br />
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Coupon applied</th>
        <th>Price</th>
        <th>Delete?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items" style="text-align: center">
        <td>{{ item.product }}</td>
        <td>{{ item.coupon }}</td>
        <td>{{ item.price | number: '1.2-2' }}</td>
        <td>
          <button
            *ngIf="item.type === 'product'"
            class="material-icons"
            style="color: red;"
            (click)="deleteItem(item.product)"
          >
            delete
          </button>
        </td>
      </tr>
      <tr class="blank_row">
        <td colspan="4"></td>
      </tr>
    </tbody>
  </table>
  <table>
    <tr style="text-align: center">
      <td colspan="2"><b>Total:</b></td>
      <td>${{ total }}</td>
    </tr>
  </table>
  <input
    type="text"
    class="input-text"
    placeholder="Enter item code"
    [(ngModel)]="currentItem"
    (keyup.enter)="addItem()"
  />
  <button class="add-btn" (click)="addItem()">Add item</button>
  <button class="remove-btn" (click)="reloadPage()">Delete All</button>
</div>
